body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    display: block;
    position: relative;
}

.header{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: black;
}

.add-post-container{
    border: 1px dashed black;
    height: 50px;
    max-width: 800px;
    vertical-align: middle;
    position: relative;
    display: block;
}

.form-container{
    border: 1px dashed black;
    height: 50px;
    max-width: 800px;
    vertical-align: middle;
    position: relative;
    display: block;
}

.add-btn{
    width: 100px;
    top:50%;
    transform: translateY(-50%);
    position: relative;
    background-color: #66CDAA;
    border-radius :3px;
    cursor: pointer;
    color: white;
    font-size : 16px;
    display: block;
}

.posts{
    position: relative;
    display: block;
    max-width: 800px;
}

.fieldset{
    border: 3px dashed #00b7ef;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.text-area{
    height: auto;
    width: 100%;
    margin: 10px;
    position: relative;
    display: block;
}

.input-item{
    padding: 10px;
    position: relative;
    display: block;
    height: 30px;
    margin: 10px;
}

.legend{
    width: auto;
    margin-bottom: 0;
    padding: 5px;
    border-bottom: none;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    font-family: 'Poiret One', cursive;
}

.padding{
    margin-top: 25px;
    margin-bottom: 25px;
}

.message-fieldset{
    border: 3px solid #00b7ef;
    display: block;
    position: relative;
    width: 100%;
    height: auto;

}

.post-title h3{
    font-size: 30px;
    color: #00b7ef;
    font-family: 'Anton', sans-serif;
}

.post-message{
    color: #c1bfc0;
    width: 100%;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.post-signature p{
    font-size: 24px;
    color: black;
    font-family: 'Pinyon Script', cursive;
    float: right;
}

.no-msg-container{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    color: black;
}

.close-btn{
    width: 100px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    border-radius :3px;
    font-size: 16px;
    background-color: red;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.check-btn{
    width: 100px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    border-radius :3px;
    font-size: 16px;
    background-color: #66CDAA;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.comment{
    color:#00b7ef;
    font-size: 12px;
    cursor: pointer;
}
.comment i{
    font-size: 16px;
}

.comment-block{
    background-color: #00b7ef;
    display: block;
    position: relative;
    width: 60%;
    height: auto;
    margin-top: -28px;
}

.well{
    width: 100%;
    margin: 5px;
    display: inline-block;
    position: relative;
}

.fa-paper-plane{
    display: inline-block;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.send-btn{
    display: block;
    cursor: pointer;
}