<form class="padding">
    <fieldset class="message-fieldset container center-block">
        <legend class="legend">{{data.pub_date|date:"m/d/Y"}}</legend>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 post-title">
                    <h3>{{data.title}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 post-message">
                    <p>{{data.message}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-8 col-sm-2 col-sm-offset-8 col-md-2 col-md-offset-10 pull-right post-signature">
                    <p>{{data.author}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-8 col-sm-2 col-sm-offset-8 col-md-2 col-md-offset-10 pull-right">
                    <span class="comment pull-right">
                        <i class="fa fa-comment" aria-hidden="true"></i> Comment
                    </span>
                </div>
            </div>
    </fieldset>
</form>
<div class="comment-block container center-block" id="comment_{{%data.id%}}">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 comment-message">
            <textarea class="text-area" placeholder="Your comment here" required></textarea>
        </div>
    </div>
</div>